<!DOCTYPE html>
<html layout:decorate="~{layouts/staffLayout}">

<body>
    <div layout:fragment="content" class="mb-4">
    <main id="main" class="main cd_main">

        <div class="pagetitle">
          <h1>Bids Status</h1>
        </div><!-- End Page Title -->

            <form action="#" method="post" th:action="@{/bid/status/search}">
                <div class="row mb-3">
                    <div class="col-sm-7"></div>
                    <div class="col-sm-4">
                        <input class="form-control col-sm-3" type="text" name="status" th:value="${status}" placeholder="Search By Status(eg. Pending, Approved)">
                    </div>
                    <button class="btn btn-primary col-sm-1">Search</button>
                </div>
            </form>

            <p style="color: green;" class="float-end"th:text="${message}"></p>

            <table id="workSlotTable" class="table" style="width:100%">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="bid : ${bids}">
                        <td th:text="${bid.date}"></td>
                        <td th:text="${bid.startTime}"></td>
                        <td th:text="${bid.endTime}"></td>
                        <td th:text="${bid.status}"></td>
                        <td th:if="${bid.status} == 'Pending'"><a th:href="@{/bid/status/delete/{bID}(bID=${bid.bID})}"><span class="bi bi-trash"></span></a></td>
                    </tr>
                </tbody>
            </table>
            <!-- <a href="/workslot/createForm"><button class="btn btn-primary float-end mt-1">Create WorkSlot</button></a> -->
    </div>
</body>

</html>