<!DOCTYPE html>
<html layout:decorate="~{layouts/adminLayout}">

<body>
    <div layout:fragment="content" class="mb-4">
    <main id="main" class="main cd_main">

        <div class="pagetitle">
          <h1>Update User Account</h1>
        </div><!-- End Page Title -->

        <!--Start of Form-->
        <form method="post" th:action="@{'update/' + ${account.empID}}" th:object="${account}">
          <div class="row mb-3">
            <label for="empID" class="col-sm-2 col-form-label">empID</label>
            <div class="col-sm-5">
              <input th:field="*{empID}" type="text" class="form-control" disabled readonly>
            </div>
          </div>


            <div class="row mb-3">
              <label for="firstName" class="col-sm-2 col-form-label">First Name</label>
              <div class="col-sm-3">
                <input th:field="*{firstName}" type="text" class="form-control">
              </div>

              <label for="lastName" class="col-sm-2 col-form-label">Last Name</label>
              <div class="col-sm-3">
                <input th:field="*{lastName}" type="text" class="form-control">
              </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Gender</label>
                <div class="col-sm-3">
                  <select class="form-select" aria-label="Gender" th:field="*{gender}">
                    <option value="F">Female</option>
                    <option value="M">Male</option>
                  </select>
                </div>
              </div>

            <div class="row mb-3">
              <label for="email" class="col-sm-2 col-form-label">Email</label>
              <div class="col-sm-5">
                <input th:field="*{email}" type="email" class="form-control">
              </div>
            </div>

            <div class="row mb-3">
              <label class="col-sm-2 col-form-label">User Profile</label>
              <div class="col-sm-5">
                <select class="form-select" aria-label="User Profile" th:field="*{profileID}">
                  <option th:each="profile : ${profiles}" th:value="${profile.profileID}">
                    <span th:text="${profile.profileName}"></span>
                  </option>
                </select>
              </div>
            </div>

            <div class="col-sm-10 text-center">
                <button type="submit" class="btn btn-primary">Update</button>
            </div>

          </form>
          <!-- End of Form-->
    </div>
</body>

</html>