<!DOCTYPE html>
<html layout:decorate="~{layouts/adminLayout}">

<body>
    <div layout:fragment="content" class="mb-4">
    <main id="main" class="main cd_main">

        <div class="pagetitle">
          <h1>User Profile Management</h1>
        </div><!-- End Page Title -->

            <table id="userAccountTable" class="table" style="width:100%">
                <thead>
                    <tr>
                        <th>Profile ID</th>
                        <th>Profile Name</th>
                        <th>Permission Type</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="userProfile : ${userProfiles}">
                        <td th:text="${userProfile.profileID}"></td>
                        <td th:text="${userProfile.profileName}"></td>
                        <td th:text="${userProfile.permissionType}"></td>
                        <td><span class="bi bi-pencil-square"></span></td>
                        <td><span class="bi bi-trash"></span></td>
                    </tr>
                </tbody>
            </table>
            <button class="btn btn-primary float-end mt-1">Create New Profile</button>
    </div>
</body>

</html>