<!DOCTYPE html>
<html layout:decorate="~{layouts/adminLayout}">

<body>
    <div layout:fragment="content" class="mb-4">
    <main id="main" class="main cd_main">

        <div class="pagetitle">
          <h1>User Profile Management</h1>
        </div><!-- End Page Title -->

            <form action="#" method="post" th:action="@{search}">
                <div class="row mb-3">
                    <div class="col-sm-7"></div>
                    <div class="col-sm-4">
                        <input class="form-control col-sm-3" type="text" name="name" th:value="${name}" placeholder="Search By Name...">
                    </div>
                    <button class="btn btn-primary col-sm-1">Search</button>
                </div>
            </form>

            <table id="userProfileTable" class="table" style="width:100%">
                <thead>
                    <tr>
                        <th>Profile ID</th>
                        <th>Profile Name</th>
                        <th>Permission Type</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="userProfile : ${userProfiles}">
                        <td th:text="${userProfile.profileID}"></td>
                        <td th:text="${userProfile.profileName}"></td>
                        <td th:text="${userProfile.permissionType}"></td>
                        <td><a th:href="@{/userProfile/updateForm/{profileID}(profileID=${userProfile.profileID})}"><span class="bi bi-pencil-square"></span></a></td>
                        <td><a th:href="@{/userProfile/suspend/{profileID}(profileID=${userProfile.profileID})}"><span class="bi bi-trash"></span></a></td>
                    </tr>
                </tbody>
            </table>
            <a href="/userProfile/createForm"><button class="btn btn-primary float-end mt-1">Create New Profile</button></a>
    </div>
</body>

</html>