<!DOCTYPE html>
<html layout:decorate="~{layouts/adminLayout}">

<body>
    <div layout:fragment="content" class="mb-4">
    <main id="main" class="main cd_main">

        <div class="pagetitle">
          <h1>Create User Profile</h1>
        </div><!-- End Page Title -->

        <!--Start of Form-->
        <form action="#" method="post" th:action="@{'update/' + ${profile.profileID}}" th:object="${profile}">
          <div class="row mb-3">
            <label for="profileID" class="col-sm-2 col-form-label">Profile ID</label>
            <div class="col-sm-5">
              <input th:field="*{profileID}" type="text" class="form-control" disabled readonly>
            </div>
        </div>

            <div class="row mb-3">
                <label for="profileName" class="col-sm-2 col-form-label">Profile Name</label>
                <div class="col-sm-5">
                  <input th:field="*{profileName}" type="text" class="form-control">
                </div>
            </div>

            <div class="row mb-3">
              <label class="col-sm-2 col-form-label">Permission Type</label>
              <div class="col-sm-5">
                <select th:field="*{permissionType}" class="form-select" aria-label="Permission Type">
                  <option value="Owner">Owner</option>
                  <option value="Manager">Manager</option>
                  <option value="Staff">Staff</option>
                </select>
              </div>
            </div>

            <div class="col-sm-10 text-center">
                <button type="submit" class="btn btn-primary">Update</button>
            </div>

          </form>
          <!-- End of Form-->
    </div>
</body>

</html>