<!DOCTYPE html>
<html layout:decorate="~{layouts/adminLayout}">

<body>
    <div layout:fragment="content" class="mb-4">
    <main id="main" class="main cd_main">

        <div class="pagetitle">
          <h1>User Account Management</h1>
        </div><!-- End Page Title -->

            <table id="userAccountTable" class="table" style="width:100%">
                <thead>
                    <tr>
                        <th>Employee ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Gender</th>
                        <th>Profile Name</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="user : ${userAccounts}">
                        <td th:text="${user.empID}"></td>
                        <td th:text="${user.lastName} + ' ' +  ${user.firstName}"></td>
                        <td th:text="${user.email}"></td>
                        <td th:text="${user.gender}"></td>
                        <td th:switch= "${user.profileID}">
                            <div th:each="profile : ${userProfiles}">
                                <span th:case="${profile.profileID}" th:text="${profile.profileName}"></span>
                            </div> 
                        </td>
                        <td><a th:href="@{/userAccount/updateForm/{empID}(empID=${user.empID})}"><span class="bi bi-pencil-square"></a></span></td>
                        <td><a th:href="@{/userAccount/suspend/{empID}(empID=${user.empID})}"><span class="bi bi-trash"></span></a></td>
                    </tr>
                </tbody>
            </table>
            <a href="/userAccount/createForm"><button class="btn btn-primary float-end mt-1">Create New Account</button></a>
    </div>
</body>

</html>